<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.commands">
       <command
            defaultHandler="tregression.handler.EvaluationTrialHandler"
            id="tregression.command.evaluateTrial"
            name="Run Regression for Trial">
      </command>
       <command
             defaultHandler="tregression.handler.EvaluationTestCaseHandler"
             id="tregression.command.evaluateTestCase"
             name="Run Regression for Test Case">
       </command>
       <command
             defaultHandler="tregression.handler.PlayRegressionLocalizationHandler"
             id="tregression.command.localizationPlayer"
             name="Play The Process of Regression Localization">
       </command>
       <command
             defaultHandler="tregression.handler.EvaluationAllHandler"
             id="tregression.command.evaluateAll"
             name="Run Regression for All">
       </command>
       <command
             defaultHandler="tregression.handler.SeparateVersionHandler"
             id="tregression.command.runSeparateVersions"
             name="Run TraceRecov (integrated into Tregression)">
       </command>
       <command
             defaultHandler="tregression.handler.AllDefects4jHandler"
             id="tregression.command.runAllDefects4jProjects"
             name="Run All Defects4j Projects">
       </command>
       <command
             defaultHandler="tregression.handler.AllMutationHandler"
             id="tregression.command.runAllMutationProjects"
             name="Run All Mutation Projects">
       </command>
       <command
             defaultHandler="tregression.handler.RegressionRetrieveHandler"
             id="tregression.command.retrieveRegression"
             name="Retrieve the Bug from exec file">
       </command>
       <command
             defaultHandler="tregression.handler.RetrieveAllDefect4jRegressionsHandler"
             id="tregression.command.retrieveAllDefect4jRegression"
             name="Retrieve All Defect4j Regressions">
       </command>
       <command
             defaultHandler="traceagent.handler.RunAllDefects4jHandler"
             id="traceagent.command.runAllDefects4jBugs"
             name="Run All Defect4j Bugs">
       </command>
       <command
             defaultHandler="traceagent.handler.RunSingleTestcaseHandler"
             id="traceagent.command.runSingleDefects4jBugs"
             name="Run Single Defect4j Bug">
       </command>
       <command
             defaultHandler="tregression.handler.DataCollectionHandler"
             id="tregression.collectdata"
             name="Collect Data">
       </command>
       <command
             defaultHandler="tregression.handler.TestingHandler"
             id="tregression.testingTregression"
             name="Testing Tregression">
       </command>
       <command
             defaultHandler="tregression.handler.DSDebuggingHandler"
             id="tregression.dynamicslicing"
             name="Run Dyanmic Slicing">
       </command>
       <command
             defaultHandler="tregression.handler.MutationDatasetHandler"
             id="tregression.mutate"
             name="Mutate Target Project">
       </command>
       <command
             defaultHandler="tregression.handler.DebugPilotTHandler"
             id="tregression.debugpilot"
             name="Debug Pilot">
       </command>
       <command
             defaultHandler="tregression.handler.Defects4jCollectionHandler"
             id="tregression.collectDefects4jData"
             name="Collect Defects4j Data">
       </command>
       <command
             defaultHandler="tregression.handler.MutationRunnerHandler"
             id="tregression.collectMutationDatasetData"
             name="Collect Mutation Dataset Data">
       </command>
       <command
             defaultHandler="tregression.handler.Defects4jAutoDebugHandler"
             id="tregression.defects4jautodebug"
             name="Auto Debug Defects4j">
       </command>
       <command
             defaultHandler="tregression.handler.IOSelectionHandler"
             id="tregression.selectIO"
             name="Select IO">
       </command>
       <command
             defaultHandler="tregression.handler.TrainModelHandler"
             id="tregression.trainmodel"
             name="Train Model">
       </command>
       <command
             defaultHandler="tregression.handler.StopDebugPilotTHandler"
             id="tregression.stopdebugpilot"
             name="Stop Debug Pilot">
       </command>
       <command
             defaultHandler="tregression.handler.Defects4jAutoProfInferHandler"
             id="tregression.autoprobinfer"
             name="Run ProbInfer Debug">
       </command>
       <command
             defaultHandler="tregression.handler.Defects4jAutoDebugMistakeHandler"
             id="tregression.defects4jautodebug_debugpilot_mistake"
             name="Defects4j Auto Debug Mistake">
       </command>
       <command
             defaultHandler="tregression.handler.Defects4jAutoMicrobatHandler"
             id="tregression.defects4jautodebug_microbat"
             name="Auto Debug Microbat">
       </command>
       <command
             defaultHandler="tregression.handler.SimulatorHandler"
             id="tregression.simulate"
             name="Simulate Experiment">
       </command>
       <command
             defaultHandler="tregression.handler.AutoPromptEngineeringHandler"
             id="tregression.autoPromptEngineering"
             name="Auto Prompt Engineering">
       </command>
       <command
             defaultHandler="tregression.handler.ExampleSearchingExperimentHandler"
             id="tregression.exampleSearchingExperiment"
             name="Example Searching Experiment">
       </command>
 </extension>	
 <extension
         point="org.eclipse.ui.views">
      <category
            id="tregression.category"
            name="Tregression">
      </category>
      <view
            category="tregression.category"
            class="tregression.views.CorrectTraceView"
            icon="icons/check_mark.png"
            id="tregression.evalView.correctTraceView"
            name="Correct Trace"
            restorable="true">
      </view>
      <view
            category="tregression.category"
            class="tregression.views.BuggyTraceView"
            icon="icons/cross_mark.png"
            id="tregression.evalView.buggyTraceView"
            name="Buggy Trace"
            restorable="true">
      </view>
      <view
            category="tregression.category"
            class="tregression.views.StepPropertyView"
            icon="icons/property.png"
            id="tregression.view.stepProperty"
            name="Step Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="tregression.perspectives.TraceComparisonPerspective"
            icon="icons/trace_comparison.png"
            id="tregression.perspective.traceChecking"
            name="TraceRecov (integrated into Tregression)">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu label="TraceRecov">
            <command
                  commandId="tregression.command.runSeparateVersions"
                  icon="icons/trace_comparison.png"
                  label="TraceRecov (integrated into Tregression)"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="tregression.toolbar">
            <command
                  commandId="tregression.command.runSeparateVersions"
                  icon="icons/trace_comparison.png"
                  label="TraceRecov (integrated into Tregression)"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="tregression.editors.CompareEditor"
            default="false"
            extensions=".java"
            icon="icons/compare.png"
            id="tregression.editor.compare"
            name="Compare">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="org.eclipse.ui.editors.text.StorageDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="tregression.preference.TregressionPreference"
            id="tregression.preference"
            name="Tregression (Defects4j)">
      </page>
   </extension>

</plugin>
